<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>GP Wallet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict />
	<key>CFBundleIcons~ipad</key>
	<dict />
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.8</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false />
	<key>LSRequiresIPhoneOS</key>
	<true />
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true />
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Trying to access the media library.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app requires access to Bluetooth always.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Trying to access Blutooth.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Trying to access Calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>The camera function is used to scan a QR code to connect with other apps or to read the address of an asset. Request camera permissions to access your camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>Trying to access Contact.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Always access your location information.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Access your location information only when you use the app.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Trying to access Microphone.</string>
	<key>NSMotionUsageDescription</key>
	<string>Trying to access Motion.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Trying to access Speech Recognition.</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false />
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false />
</dict>
</plist>
